[Unit]
Description=Home-Detector
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 main.py
Restart=on-failure
RestartSec=15s
PIDFile=/tmp/home-detector.pid

[Install]
WantedBy=default.target
